<!DOCTYPE html>

<html>

<head>
    <title>Posts</title>
    <meta charset="utf-8">

    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="/create-post.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>

<body>
    <main>

        <h1>CREATE NEW POST</h1>

        <form id="post-form" class="create-post-form">
            <div class="field">
                <p>ID</p>
                <input class="id" type="text" placeholder="Enter ID">
            </div> 
            
            <div class="field">
                <p>Title</p>
                <input class="title" type="text" placeholder="Enter the title" id="ID">
            </div>
            
            <div class="field">
                <p>Content</p>
                <input class="content" type="text" placeholder="Enter the content" id="content">
            </div>
            <div class="field">
                <p>Author's Name</p>
                <input class="author" type="text" placeholder="Enter the Author's name" id="author-name">
            </div>
            <div class="field">
                <p>Views</p>
                <input class="views" type="text" placeholder="Enter the number of views" id="views">
            </div>
            
            <button>Submit</button>
        </form>

        <!-- <script type="module" src="/script.js"></script> -->
         <script type="module" src="/create-post.js"></script>
        
    </main>
</body>

</html>